.posts__heading {
    color: #A33327;
}

.posts__heading::before,
.posts__heading::after {
    background: #161616;
}

.post {
    background: #151515;
    padding: 20px 15px;
    border-radius: 3px;
    transition: all .3s ease;
}

.post:hover {
    box-shadow: 3px 3px 11px #AD8174, -3px -3px 10px #AD8174;
    transform: scale(1.04);
    cursor: pointer;
}

.post h3 {
    color: #C7493A;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.post p {
    color: #689775;
    text-transform: capitalize;

}