* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
 
}

body {
    background-color: #EDF5E0;
    
}

.heading__container {
    text-align: center;
}
.heading {
    color: #05396B;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    display: inline-block;
    padding: 20px;

    position: relative;
}

.heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -45%;
    width: 43px;
    height: 3px;
    background: #8DE4AF;

}

.heading::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -45%;
    width: 43px;
    height: 3px;
    background: #8DE4AF;

}

.userContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}

.postsContainer {
    padding: 20px;
    
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

